@use "colors" as c;
@use "tipography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: t.$font;
  position: relative;
  background-color: c.$Pale_orange;
}

img,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
