@use "colors" as c;
@use "tipography" as t;
@use "../utility/breakpoints" as b;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: t.$font;

  img,
  svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
}

@include b.breakpoint-up(medium) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
