*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
body img,
body svg {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 43.75em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
.header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
}
.header_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_box__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_box__right {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 30%;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: translateX(-100%);
  transition: transform 0.75s ease;
}
.header_box__right ul {
  list-style: none;
}
.header_box__right ul li {
  margin-bottom: 2rem;
}
.header_box__right ul li a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}
.header_box__right.display {
  transform: translateX(0);
  transition: transform 0.75s ease;
}
.header .tooltip_box {
  position: relative;
  display: flex;
  align-items: center;
}
.header .tooltip_box .tooltip {
  display: none;
}
.header .tooltip_box .visible {
  position: absolute;
  top: -25%;
  right: 70%;
  background-color: hsl(26, 100%, 55%);
  width: 1rem;
  height: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: 0.75rem;
}
.header .tooltip_box .cart_dropdown {
  display: none;
}
.header .tooltip_box .cart_dropdown.dropped {
  position: absolute;
  top: 250%;
  right: 0;
  z-index: 10;
  width: min(95vw, 420px);
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  min-height: 20rem;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}
.header .tooltip_box .cart_dropdown.dropped .title {
  font-weight: 700;
  color: hsl(218, 12%, 13%);
  padding: 2rem;
  border-bottom: 0.25px solid hsla(219, 9%, 45%, 0.4);
  border-bottom: 1px solid hsla(219, 9%, 45%, 0.4);
}
.header .tooltip_box .cart_dropdown.dropped .product {
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding: 2rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner {
  display: none;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details .image {
  width: 3rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details .description {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details .description p {
  color: hsl(219, 9%, 45%);
  font-size: 0.85rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details .description p strong {
  color: hsl(0, 0%, 0%);
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .product-details .delete-btn {
  margin-left: auto;
}
.header .tooltip_box .cart_dropdown.dropped .product .inner.with-items .checkout_link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  padding: 0.5em;
  border-radius: 0.5rem;
}
.header .tooltip_box .cart_dropdown.dropped .product .text-empty-cart {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  align-self: center;
}
.header .tooltip_box .cart_dropdown.dropped .product .text-empty-cart.hidden {
  display: none;
}
.header .tooltip_box .avatar {
  max-width: 2rem;
  margin-left: 1rem;
}
.header .line {
  opacity: 0;
}

@media (min-width: 43.75em) {
  .header {
    min-width: 80%;
    border-bottom: 1px solid hsla(219, 9%, 45%, 0.4);
    position: relative;
    padding-inline: 0;
  }
  .header_box__left .menu {
    display: none;
  }
  .header_box__right {
    position: relative;
    transition: none;
    z-index: 0;
    transform: translateX(0);
    padding: 0;
  }
  .header_box__right .close {
    display: none;
  }
  .header_box__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .header_box__right ul li {
    margin-bottom: 0;
  }
  .header_box__right ul a {
    color: hsl(218, 12%, 13%);
    font-weight: 400;
  }
  .header_box__right ul a:hover {
    color: hsl(0, 0%, 0%);
  }
  .header .tooltip_box .cart-icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
  }
  .header .tooltip_box .cart_dropdown.dropped {
    top: 170%;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .header .tooltip_box .avatar:hover {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }
  .header .line {
    display: block;
    position: absolute;
    bottom: -2px;
    height: 4px;
    width: 5rem;
    z-index: 5;
    background-color: hsl(26, 100%, 55%);
  }
}
.main .main_article__images .main_article__image-icons {
  position: relative;
}
.main .main_article__images .main_article__image-icons .icon {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  top: 40%;
}
.main .main_article__images .main_article__image-icons .icon.prev-icon {
  left: 3%;
}
.main .main_article__images .main_article__image-icons .icon.next-icon {
  right: 3%;
}
.main .main_article__images .main_article__thumbnails {
  display: none;
}
.main .main_article__images .main_article__thumbnails img {
  max-width: 5rem;
}
.main .main_article__text {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main .main_article__text .subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
.main .main_article__text .title {
  color: hsl(218, 12%, 13%);
  margin-block: 0.25em 0.5em;
}
.main .main_article__text .text {
  color: hsl(219, 9%, 45%);
  line-height: 1.3;
}
.main .main_article__text .main_article__box-price {
  display: flex;
  justify-content: space-between;
}
.main .main_article__text .main_article__box-price h2 {
  color: hsl(218, 12%, 13%);
  font-weight: 700;
}
.main .main_article__text .main_article__box-price div {
  display: flex;
  align-items: center;
}
.main .main_article__text .main_article__box-price div span {
  margin-left: 1rem;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
}
.main .main_article__text .main_article__box-price p {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
}
.main .main_article__text .main_article__box-buttons .main_article__box-add--btn, .main .main_article__text .main_article__box-buttons .main_article__box-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0.5em;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: hsl(218, 12%, 13%);
}
.main .main_article__text .main_article__box-buttons .main_article__box-add--btn {
  background-color: hsl(223, 64%, 98%);
}
.main .main_article__text .main_article__box-buttons .main_article__box-add-to-cart {
  background-color: hsl(26, 100%, 55%);
  justify-content: center;
  gap: 1rem;
}
.main .main_article__text .main_article__box-buttons .main_article__box-add-to-cart button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
}

@media (min-width: 43.75em) {
  .main {
    max-width: 80%;
    padding-block: 5rem;
  }
}
.attribution {
  font-size: small;
  text-align: center;
  font-style: italic;
  padding: 1em;
}
.attribution a {
  color: hsl(33, 100%, 34%);
}/*# sourceMappingURL=style.css.map */