@use "../globals/colors" as c;
@use "../globals/tipography" as t;

.header {
  background-color: c.$White;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;

  &_box {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__right {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 30%;
      background-color: c.$White;
      padding: 1.5em;
      z-index: 2;

      display: flex;
      flex-direction: column;
      gap: 3rem;
      transform: translateX(-100%);
      transition: transform 0.75s ease;

      & ul {
        list-style: none;

        & li {
          margin-bottom: 2rem;

          & a {
            text-decoration: none;
            font-weight: t.$font-700;
            color: c.$Dark_grayish_blue;
          }
        }
      }
    }

    &__right.display {
      transform: translateX(0);
      transition: transform 0.75s ease;
    }
  }

  & .tooltip_box {
    position: relative;
    display: flex;
    align-items: center;

    & .cart-icon:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: transform 0.5s ease-in-out;
    }

    & .tooltip {
      display: none;
    }

    & .visible {
      position: absolute;
      top: -25%;
      right: 70%;
      background-color: c.$Orange;
      width: 1rem;
      height: 1rem;
      color: c.$White;
      font-weight: t.$font-700;
      border-radius: 50%;
      display: grid;
      place-content: center;
      font-size: 0.75rem;
    }

    & .cart_dropdown {
      display: none;
    }

    & .cart_dropdown.dropped {
      position: absolute;
      top: 250%;
      right: 0;
      z-index: 10;
       width: min(95vw, 420px);
      display: flex;
      flex-direction: column;
      background-color: c.$White;
      border-radius: 0.5rem;
      min-height: 20rem;
      box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);

      & .title {
        font-weight: t.$font-700;
        color: c.$Very_dark_blue;
        padding: 2rem;
        border-bottom: 0.25px solid c.$Dark_grayish_blue-alpha;
        border-bottom: 1px solid c.$Dark_grayish_blue-alpha;
      }

      & .product {
        flex-grow: 1;
        display: grid;
        place-content: center;
        padding: 2rem;

        & .inner {
          display: none;
        }

        & .inner.with-items {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          & .product-details {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .image {
              width: 3rem;
            }

            & .description {
              flex: 2;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 0.5rem;

              & p {
                color: c.$Dark_grayish_blue;
                font-size: 0.85rem;

                & strong {
                  color: c.$Black;
                }
              }
            }

            & .delete-btn {
              margin-left: auto;
            }
          }

          & .checkout_link {
            width: 100%;
            text-align: center;
            text-decoration: none;
            border: none;
            font-size: 1.2rem;
            font-weight: t.$font-700;
            background-color: c.$Orange;
            padding: 0.5em;
            border-radius: 0.5rem;
          }
        }

        & .text-empty-cart {
          font-weight: t.$font-700;
          color: c.$Dark_grayish_blue;
          align-self: center;
        }

        & .text-empty-cart.hidden {
          display: none;
        }
      }
    }

    & .avatar {
      max-width: 2rem;
      margin-left: 1rem;
    }
  }
}
