@use "../globals/colors" as c;
@use "../globals/tipography" as t;

main {
  & .main_article__images {
    & .main_article__image-icons {
      position: relative; // pentru prev and next icons

      & .icon {
        background-color: white;
        border-radius: 50%;
        padding: 1rem;
        position: absolute;
        top: 40%;
      }

      & .icon.prev-icon {
        left: 3%;
      }

      & .icon.next-icon {
        right: 3%;
      }
    }

    & .main_article__thumbnails {
      display: none;

      & img {
        max-width: 5rem;
      }
    }
  }
      & .main_article__text {
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & .subtitle {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: c.$Dark-grayish_blue;
        font-weight: t.$font-700;
      }

      & .title {
        color: c.$Very_dark_blue;
        margin-block: 0.25em 0.5em;
      }

      & .text {
        color: c.$Dark_grayish_blue;
        line-height: 1.3;
      }

      & .main_article__box-price {
        display: flex;
        justify-content: space-between;

        & h2 {
          color: c.$Very_dark_blue;
          font-weight: t.$font-700;
        }

        & div {
          display: flex;
          align-items: center;

          & span {
            margin-left: 1rem;
            background-color: c.$Black;
            color: c.$White;
            padding: 0.25em 0.5em;
            border-radius: 0.25rem;
          }
        }

        & p {
          text-decoration: line-through;
          color: c.$Grayish_blue;
          font-weight: t.$font-700;
        }
      }

      & .main_article__box-buttons {
        & .main_article__box-add--btn,
        & .main_article__box-add-to-cart {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1.5em 0.5em;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          font-weight: t.$font-700;
          color: c.$Very_dark_blue;
        }

        & .main_article__box-add--btn {
          background-color: c.$Light_grayish_blue;
        }

        & .main_article__box-add-to-cart {
          background-color: c.$Orange;
          justify-content: center;
          gap: 1rem;

          & button {
            background-color: transparent;
            border: none;
            outline: none;
            font-family: inherit;
            font-weight: inherit;
          }
        }
      }
    }
}
