@use "../globals/colors" as c;
@use "../globals/tipography" as t;

main {
  position: relative;
  background-color: c.$White;

  & .cart_container {
    display: none;
  }

  & .cart_container.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    left: 3%;
    top: 2%;
    z-index: 2;
    background-color: c.$White;
    border-radius: 0.5rem;
    min-height: 20rem;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);

    & .title {
      font-weight: t.$font-700;
      color: c.$Very_dark_blue;
      padding: 2rem;
      border-bottom: 0.25px solid c.$Dark_grayish_blue-alpha;
      border-bottom: 1px solid c.$Dark_grayish_blue-alpha;
    }

    & .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 2rem;
      flex-grow: 1;

      & .box {
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex-grow: 1;

        & .inner {
          display: none;
        }

        & .visible {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          & .product-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            margin-bottom: 2rem;

            & .image {
              flex-basis: 2.5rem;
              border-radius: 0.25rem;
              & img {
                border-radius: 0.25rem;
              }
            }

            & .description {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 0.25rem;
            }
          }

          & .checkout_link {
            text-decoration: none;
            background-color: c.$Orange;
            color: c.$Very_dark_blue;
            font-weight: t.$font-700;
            width: 100%;
            text-align: center;
            padding: 0.75rem;
            border-radius: 0.5rem;
          }
        }
      }

      & .is-empty {
        font-weight: t.$font-700;
        color: c.$Dark_grayish_blue;
        align-self: center;
      }

      & .is-empty.hidden {
        display: none;
      }
    }
  }

  & .main_article {
    position: relative;

    & .close-btn {
      display: none;
    }

    & .close-btn .visible {
      position: absolute;
      right: 0;
      top: -5%;
      z-index: 1;

      & path {
        fill: c.$White;

        &:hover {
          fill: c.$Orange;
        }
      }
    }
  }

  & .main_article__thumbnails {
    display: none;

    & img {
      max-width: 5rem;
    }
  }

  & .main_article__images {
    position: relative;

    & .icon {
      background-color: white;
      border-radius: 50%;
      padding: 1rem;
      position: absolute;
      top: 50%;
    }

    & .icon.prev-icon {
      left: 5%;
    }

    & .icon.next-icon {
      right: 5%;
    }
  }

  & .main_article__text {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    & .subtitle {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: c.$Dark-grayish_blue;
      font-weight: t.$font-700;
    }

    & .title {
      color: c.$Very_dark_blue;
      margin-block: 0.25em 0.5em;
    }

    & .text {
      color: c.$Dark_grayish_blue;
      line-height: 1.3;
    }

    & .main_article__box-price {
      display: flex;
      justify-content: space-between;

      & h2 {
        color: c.$Very_dark_blue;
        font-weight: t.$font-700;
      }

      & div {
        display: flex;
        align-items: center;

        & span {
          margin-left: 1rem;
          background-color: c.$Black;
          color: c.$White;
          padding: 0.25em 0.5em;
          border-radius: 0.25rem;
        }
      }

      & p {
        text-decoration: line-through;
        color: c.$Grayish_blue;
        font-weight: t.$font-700;
      }
    }

    & .main_article__box-buttons {
      & .main_article__box-add--btn,
      & .main_article__box-add-to-cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 0.5em;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        font-weight: t.$font-700;
        color: c.$Very_dark_blue;
      }

      & .main_article__box-add--btn {
        background-color: c.$Light_grayish_blue;
      }

      & .main_article__box-add-to-cart {
        background-color: c.$Orange;
        justify-content: center;
        gap: 1rem;

        & button {
          background-color: transparent;
          border: none;
          outline: none;
          font-family: inherit;
          font-weight: inherit;
        }
      }
    }
  }
}
