@use "functions" as f;
//700, 900, 1440
$breakpoints-up: (
  "medium": f.em(700),
  "large": f.em(900),
  "xlarge": f.em(1440),
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

