// ## Colors
// ### Primary

$Orange: hsl(26, 100%, 55%);
$Pale_orange: hsl(25, 100%, 94%);
$Dark-orange: hsl(33, 100%, 34%);

// ### Neutral
$Very_dark_blue: hsl(218, 12%, 13%);
$Dark_grayish_blue: hsl(219, 9%, 45%);
$Dark_grayish_blue-alpha: hsl(219, 9%, 45%, 0.4);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Cover: hsla(0, 0%, 0%, 0.75);
