@use "../globals/colors" as c;
@use "../globals/tipography" as t;
@use "../utility/breakpoints" as b;

.header {
  background-color: c.$White;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;

  &_box {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__right {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 30%;
      background-color: c.$White;
      padding: 1.5em;
      z-index: 10;

      display: flex;
      flex-direction: column;
      gap: 3rem;
      transform: translateX(-100%);
      transition: transform 0.75s ease;

      & .close {
        border: none;
        outline: none;
        background-color: transparent;
      }

      & ul {
        list-style: none;

        & li {
          margin-bottom: 2rem;

          & a {
            text-decoration: none;
            font-weight: t.$font-700;
            color: c.$Dark_grayish_blue;
          }
        }
      }
    }

    &__right.display {
      transform: translateX(0);
      transition: transform 0.75s ease;
    }
  }

  & .tooltip_box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;

    & .tooltip {
      display: none;
    }

    & .visible {
      position: absolute;
      top: -25%;
      right: 70%;
      background-color: c.$Orange;
      width: 1rem;
      height: 1rem;
      color: c.$White;
      font-weight: t.$font-700;
      border-radius: 50%;
      display: grid;
      place-content: center;
      font-size: 0.75rem;
    }

    & .cart_dropdown {
      display: none;
    }

    & .cart_dropdown.dropped {
      position: absolute;
      top: 250%;
      right: 0;
      z-index: 5;
      width: min(95vw, 420px);
      display: flex;
      flex-direction: column;
      background-color: c.$White;
      border-radius: 0.5rem;
      min-height: 20rem;
      box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);

      & .title {
        font-weight: t.$font-700;
        color: c.$Very_dark_blue;
        padding: 2rem;
        border-bottom: 0.25px solid c.$Dark_grayish_blue-alpha;
        border-bottom: 1px solid c.$Dark_grayish_blue-alpha;
      }

      & .product {
        flex-grow: 1;
        display: grid;
        place-content: center;
        padding: 2rem;

        & .inner {
          display: none;
        }

        & .inner.with-items {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          & .product-details {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .image {
              width: 3rem;
            }

            & .description {
              flex: 2;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 0.5rem;

              & p {
                color: c.$Dark_grayish_blue;
                font-size: 0.85rem;

                & strong {
                  color: c.$Black;
                }
              }
            }

            & .delete-btn {
              margin-left: auto;
            }
          }

          & .checkout_link {
            width: 100%;
            text-align: center;
            text-decoration: none;
            border: none;
            font-size: 1.2rem;
            font-weight: t.$font-700;
            background-color: c.$Orange;
            padding: 0.5em;
            border-radius: 0.5rem;
          }
        }

        & .text-empty-cart {
          font-weight: t.$font-700;
          color: c.$Dark_grayish_blue;
          align-self: center;
        }

        & .text-empty-cart.hidden {
          display: none;
        }
      }
    }

    & .avatar {
      max-width: 2rem;
      margin-left: 1rem;
    }
  }

  & .line {
    opacity: 0;
  }
}

@include b.breakpoint-up(medium) {
  .header {
    min-width: 75%;
    border-bottom: 1px solid c.$Dark_grayish_blue-alpha;
    position: relative;
    padding: 1.5rem 0;

    &_box {
      &__left {
        & .menu {
          display: none;
        }
      }

      &__right {
        position: relative;
        transition: none;
        z-index: 0;
        transform: translateX(0);
        padding: 0;
        & .close {
          display: none;
        }
        & ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          & li {
            margin-bottom: 0;

            & a {
              color: c.$Grayish_blue;
              font-weight: t.$font-400;

              &:hover {
                color: c.$Black;
              }
            }
          }
        }
      }
    }

    & .tooltip_box {
      & .cart-icon:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: transform 0.5s ease-in-out;
      }

      & .cart_dropdown.dropped {
        top: 170%;
        right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      & .avatar:hover {
        border: 3px solid c.$Orange;
        border-radius: 50%;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.5s ease-in-out;
      }
    }

    & .line {
      display: block;
      position: absolute;
      bottom: -2px;
      height: 4px;
      width: 5rem;
      z-index: 2;
      background-color: c.$Orange;
    }
  }
}
